@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Smooch+Sans:wght@100..900&display=swap');

body{
    margin: 0 15px;
    background: rgb(131,131,131);
    background: linear-gradient(18deg, rgba(131,131,131,1) 0%, rgba(84,84,84,1) 100%);
    background-repeat: no-repeat;
}